<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3_Three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4_Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5_Five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Week1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E916928D1CD725AD00428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E916929B1CD725C000428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91692A61CD725C700428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91692B11CD725CF00428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91692BC1CD725DA00428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E91692C71CD725E700428BC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
