<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3_Three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4_Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5_Five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>6_Six.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>7_Seven.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Combinatorics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Week6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E94EDFFE1CECAC4E00D83AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E94EE0091CECAC5500D83AC3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E95CA3BD1CF071E8008E0FB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D501CEB9C020022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D5E1CEB9C170022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D691CEB9C1F0022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D741CEB9C2D0022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D7F1CEB9C330022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD6D8A1CEB9C3D0022491E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
