<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3_Three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4_Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5_Five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Week5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E98B1E171CE3580F006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98B1E251CE3584A006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98B1E301CE35852006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98B1E3B1CE3585A006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98B1E461CE35862006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E98B1E511CE35868006D40A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
