<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3_Three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4_Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5_Five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Week8.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9719BE31CFCA8DC0035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9719BF11CFCA8E80035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9719BFC1CFCA8ED0035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9719C071CFCA8F20035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9719C121CFCA8F60035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9719C1D1CFCA8FE0035C1C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
