<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>1_One.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>2_Two.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>3_Three.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>4_Four.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>5_Five.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Week4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E993E92E1CD7277F007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E993E93C1CD72789007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E993E9471CD72792007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E993E9521CD72799007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E993E9831CD727E6007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E993E98E1CD727EC007221BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
